@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background: url('./images//bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
border: 1px solid rgba(255, 255, 255, 0.18);
}